@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  font-family: "Space Mono", monospace;

  color-scheme: light dark;
  color: hsl(186, 14%, 43%);
  background-color: hsl(185, 41%, 84%);
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
